<!DOCTYPE html>
<html>
<head>
	<title>Бебе ООД</title>
	<meta charset="UTF-8">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Pompiere&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../css/gallery.css">
	<link type="text/css" rel="stylesheet" href="../lightgallery.js-master/dist/css/lightgallery.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../owlcarousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="../owlcarousel/assets/owl.theme.default.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="../lightgallery.js-master/dist/js/lightgallery.min.js"></script>
	<script src="../lightgallery.js-master/dist/js/lg-thumbnail.min.js"></script>
    <script src="../lightgallery.js-master/dist/js/lg-fullscreen.min.js"></script>
    <script src="../owlcarousel/owl.carousel.min.js"></script>
    <script src="../js/carousel.js"></script>  
	
</head>
<body>
<div class="wrapper">
	<div class="top-bar">
		<div class="shell">
			<div class="logo">					
				<a href="index.html"><img src="../img/logo-image.png" class="logo-cut-image"><img src="../img/logo-text.png" class="logo-cut-text"></a>
			</div>
							
		    <div class="top-bar-nav">
				<ul>
					<a href="index.html"><li>Home</li></a>
					<a href="shop.html"><li>Shop</li></a>
					<a href="about-us.html"><li>About us</li></a>
					<a href="contact.html"><li>Contact</li></a>						
					<a href="gallery.html"><li>Gallery</li></a>						
				</ul>
			</div>
		</div>
	</div>


	<div class="owl-carousel owl-theme">
	    <div class="item" style="width:400px"><img src="../img/carousel-1.jpg" /></div>
	    <div class="item" style="width:400px"><img src="../img/carousel-2.jpg" /></div>
	    <div class="item" style="width:400px"><img src="../img/carousel-3.jpg" /></div>
	    <div class="item" style="width:400px"><img src="../img/carousel-4.jpg" /></div>
	    <div class="item" style="width:400px"><img src="../img/carousel-5.jpg" /></div>
	</div>

	<div id="gallery">
		<div class="shell">
			<div id="animated-thumbnails">

				<a href="../img/gallery-1.jpg">
			      <img src="../img/gallery-1.jpg" />
				 </a>

				 <a href="../img/gallery-2.jpg">
				     <img src="../img/gallery-2.jpg" />
				 </a>

				 <a href="../img/gallery-3.jpg">
				     <img src="../img/gallery-3.jpg" />
				 </a>

				 <a href="../img/gallery-4.jpg">
			      <img src="../img/gallery-4.jpg" />
				 </a>

				 <a href="../img/gallery-5.jpg">
				     <img src="../img/gallery-5.jpg" />
				 </a>

				 <a href="../img/gallery-6.jpg">
				     <img src="../img/gallery-6.jpg" />
				 </a>
			</div>		
		</div>			
	</div>

	<div class="footer">
		<div class="wrapper">
			<div class="footer_information">
				<div class="logo">
					<img src="../img/background-footer.jpg">

					<div class="footer_info">
						<ul>
							<li class="footer-logo"><img src="../img/logo.png"></li>
							<li>32 BellSouth, Harley Street Florida 33968</li>
							<li>+(1) 234 567 8900</li>
							<li>Support@pawrex.com</li>
							<li class="footer_images">
								<img src="../img/mastro.png">
								<img src="../img/paypal.png">
								<img src="../img/visa.jpg">
								<img src="../img/mastercard.png">
							</li>
						</ul>
					</div>
				</div>								
			</div>
		</div>
	</div>		  
</div>



<script type="text/javascript">
    lightGallery(document.getElementById('animated-thumbnails'), {
    thumbnail:true
});
</script>
</body>
</html>