.sp_Er2Trf84pie{background-image:url(/rsrc.php/v3/yl/r/x4uUed8CuGV.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:118px;width:238px}.sp_Er2Trf84pie.sx_51a9d1{background-position:0 0}.sp_Er2Trf84pie.sx_17a79a{background-position:0 -119px}

#bootloader_yoNqMu1{height:42px;}.bootloader_yoNqMu1{display:block!important;}