.sp_pjyFObpPD5v{background-image:url(/rsrc.php/v3/ye/r/pp1Qv1-yyNu.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:24px;width:24px}.sp_pjyFObpPD5v.sx_a5ffcc{background-position:0 0}.sp_pjyFObpPD5v.sx_ba9deb{background-position:0 -25px}

#bootloader_eu767Kd{height:42px;}.bootloader_eu767Kd{display:block!important;}